@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:600');
@import "reset.scss";
@import "grid.scss";
@import "variables.scss";
@import "mixins.scss";
@import "animate.scss";

p + p {
	margin-top: 24px;
}

a {
	color: $white;
}

h1 {
	margin-bottom: 16px;

	color: $white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
}

h2 {
	margin-top: 24px;
	margin-bottom: 8px;

	color: $white;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}

p {
	color: $white;
	font-family: "Open Sans", sans-serif;;
	font-size: 16px;
	line-height: 27px;
}

strong {
	color: $white;
	font-family: "Open Sans", sans-serif;;
	font-weight: bold;
	font-size: 16px;
	line-height: 27px;
}
