.row {
  display: flex;
}

.col-xs-12 {
  max-width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-sm-6 {
  max-width: 50%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-full-width {
  width: 100%;
}

.flex-end {
  justify-content: space-between;
}
