$blue: #4758D6;
$light-blue: #7886EF;
$red: #FF5566;
$darker-red: #FF273C;
$pink: #E4349B;
$darker-pink: #DC0C86;
$white: #FFF;
$lightest-blue: #8FBEEC;
$lighter-blue: #60A0DE;
$black: #333;
$fb-blue: #4267b2;
$tw-blue: #38A1F3;
